.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.question {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.question-length {
  font-size: 20px;
  margin-bottom: 10px;
}

.question-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.answer {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 18px;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: purple;
}

.score {
  font-size: 24px;
  margin-top: 20px;
}

button.reset {
  background-color: #4caf50;
}

button.reset:hover {
  background-color: #45a049;
}